/**************************
*													*
*		DOM & Macro classes		*
*													*
**************************/

body {
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	background: #000000;
}
.text-left { text-align: left; }
.text-right {	text-align: right; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.small-text {
	font-size: 0.8em;
	line-height: 0.8em;
}
.no-padding {
	padding: 0 !important;
}

input#search-recipe, select {
	font-family: sans-serif;
	font-size: 16px;
	transition: 0.2s ease-in-out;
	font-weight: normal;
	border: 1px solid #555;
	color: #fff;
	background-color: #000;
}
select {
	padding: 10px;
}
select option {
	/* apparently you cant style these? */
	color: #fff;
	background-color: #000
}

/************************
*												*
*		Component Classes		*
*												*
************************/

.bg {
	position: fixed;
	z-index: -1000;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-size: auto auto;
	background-position: center center;
	background-color: #000;
	background-repeat: repeat;
	opacity: 0.1;
}
.bg-gradient {
	position: absolute;
	z-index: -999;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 90vw;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

header {
	width: 100%;
	margin: 0 auto 20px;;
	padding: 40px 0;
	color: #000;
	text-align: center;
}
.logo img {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: -100;
	display: block;
	width: 140px;
	margin: 0 auto;
}
.logo-text {
	display: block;
	font-family: 'belisa_plumilla_manualregular';
	font-size: 64px;
	line-height: 72px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.logo-subtext {
	display: block;
	font-family: 'belisa_plumilla_manualregular';
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.food-category-container {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
	height: 120px;
	color: #fff;
}
.food-category {
	font-family: 'belisa_plumilla_manualregular';
	display: inline-block;
	padding: 10px;
	font-size: 22px;
	line-height: 1em;
}
.food-category span {
	line-height: 2em;
}
.search-container {
	display: block;
	margin: 20px auto 0;
	height: 70px;
	font-family: 'belisa_plumilla_manualregular';
	text-align: center;
}
.search-container input {
	display: block;
	width: 80%;
	min-width: 200px;
	max-width: 440px;
	margin: 0 auto;
	padding: 5px 10px;
	font-size: 24px;
	text-align: left;
}

/********************
*										*
*			Food Card 		*
*										*
********************/

.card-container {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.food-card {
	background-color: #161616;
	background-color: rgba(255,255,255,0.1);
	color: #ffffff;
	width: 180px;
	height: 308px;
	max-height: 308px;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	transition: all 0.2s ease-in-out;
}
.food-card:hover,
.food-card.active {
	background-color: #ffffff;
	background-color: rgba(255,255,255,1);
	color: #000;
}

.row-top, .row-mid, .row-bot {
	vertical-align: middle;
	width: 100%;
}
.row-half {
	display: inline-block;
	width: 50%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: center;
}

.ingredient-icon {
	display: inline-block;
	width: 25%;
	height: 40px;
	margin: 0;
	padding: 0;
}
.ingredient-icon img {
	display: block;
	max-height: 40px;
	max-width: 40px;
	width: 100%;
}
.ingredient-restriction-container {
	display: inline-block;
	position: relative;
	width: 25%;
	max-width: 40px;
	max-height: 40px;
}
.ingredient-restriction {
	position: relative;
	display: inline-block;
	text-align: right;
	width: 100%;
	height: 40px;
}
.ingredient-restriction img {
	display: block;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
}
.ingredient-row-hide {
	height: 0px;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}
.food-card:hover .ingredient-row-hide,
.food-card.active .ingredient-row-hide {
	height: 50px;
}

.food-icon-frame, .food-icon-donot, .food-icon-restriction {
	position: absolute;
	top: 0;
	left: 0;
}
.food-icon-frame {
	z-index: 0;
}
.food-icon-donot {
	z-index: 100;
}
.food-icon-restriction {
	z-index: 10;
}

.food-img {
	display: block;
	width: 100%;
	max-width: 80px;
}
.food-name {
	text-align: center;
	margin: 0 auto;
	padding: 12px 0;
	font-family: 'belisa_plumilla_manualregular';
	font-size: 32px;
	line-height: 1.3em;
	vertical-align: middle;
}
.food-icon-container {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.food-icon {
	display: inline-block;
	position: relative;
	max-width: 50%;
}
.food-icon img {
	display: block;
	width: 36px;
	margin: 0 auto;
}
.food-icon-value {
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	font-family: 'belisa_plumilla_manualregular';
	font-size: 22px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000,
							-1px 1px 1px #000000,
							-1px -1px 1px #000000,
							1px -1px 1px #000000;
}
.food-notes {
	font-size: 0.8em;
	line-height: 1em;
}


/************************
*												*
*			Overlay Card			*
*												*
************************/

.overlay-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.75)
}
.overlay-container .food-card-overlay {
	position: relative;
	width: 80%;
	min-width: 300px;
	max-width: 440px;
	min-height: 600px;
	max-height: 1080px;
	margin: 5vh auto 0;
	background-color: #ffffff;
	padding-bottom: 60px;
}
.food-card-overlay .overlay-spacer {
	margin: 0;
	padding: 0;
	height: 4vh;
}
.food-card-overlay .food-img {
	width: 100%;
	max-width: 100px;
}
.food-card-overlay .food-name {
	font-size: 48px;
}
.food-card-overlay .food-icon-stats-row {
	width: 220px;
	margin: 0 auto;
}
.food-card-overlay .food-icon {
	max-width: 100%;
}
.food-card-overlay .food-icon img {
	width: 45px;
}
.food-card-overlay .food-icon-value {	
	font-size: 30px;
}
.food-card-overlay .ingredient-container,
.food-card-overlay .ingredient-restriction-container {
	max-width: 200px;
	margin: 0 auto;	
}
.food-card-overlay .ingredient-icon,
.food-card-overlay .ingredient-restriction {
	width: 25%;
	height: 100%;
	max-width: 50px;
	max-height: 50px;
}
.food-card-overlay .ingredient-icon img {
	width: 100%;
	height: 100%;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
}
.food-card-overlay .ingredient-restriction-container {
	display: flex;
	width: auto;
	max-width: 200px;
	margin: 0 auto;	
}
.food-card-overlay .ingredient-restriction-container,
.food-card-overlay .ingredient-restriction {
	height: 100%;
	min-height: 65px;
}
.food-card-overlay .ingredient-icon .food-icon-frame {
	/* override from normal card css */
	position: static;
	width: 64px;
	height: 65px;
}
.food-card-overlay .food-notes {
	font-size: 1em;
}
.portrait-row {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	min-width: 300px;
	height: 60px;
	margin: 0 auto;
}
.food-card-overlay .favorite-food-container,
.food-card-overlay .warly-icon-container {
	position: absolute;
	bottom: 0;
	width: 60px;
	height: 60px;
}
.food-card-overlay .favorite-food-container {
	right: 10px;
}
.food-card-overlay .warly-icon-container {
	left: 10px;
}
.food-card-overlay .favorite-food-icon,
.food-card-overlay .warly-icon {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	border-radius: 30px;
	overflow: hidden;
	border: 1px solid #ccc;
}
.food-card-overlay .favorite-food-icon img,
.food-card-overlay .warly-icon img {
	height: 60px;
}
.food-card-overlay .favorite-icon,
.food-card-overlay .asterisk-icon {
	position: absolute;
	z-index: 1000;
	top: 18px;
}
.food-card-overlay .favorite-icon {
	left: -12px;
	width: 32px;
}
.food-card-overlay .asterisk-icon {
	right: -12px;
	width: 28px;
}
/**********************
*											*
*			Animations			*
*											*
**********************/

.animated-bg {
	animation: animated-bg 60s linear infinite;
}
@keyframes animated-bg {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 417px -417px;
	}
}
.animation-container {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/********************
*										*
*			Viewport			*
*										*
********************/

@media screen and (max-width: 575px) {
	.logo-text {
		font-size: 52px;
	}
	.logo-subtext {
		font-size: 24px;
	}
	.food-card {
		width: 130px;
		height: 228px;
		max-height: 308px;
	}
	.food-name {
		font-size: 24px;
	}
	.food-name.small-text {
		font-size: 18px;
	}
	.ingredient-icon,
	.ingredient-restriction,
	.ingredient-restriction-container,
	.food-card:hover .ingredient-row-hide,
	.food-card:active .ingredient-row-hide,
	.food-card .row-bot div:first-child {
    height: 27px;
	}
	.food-icon img {
		width: 28px;
	}
	.food-category {
		float: none !important;
		display: block;
		width: 100%;
	}
	.food-category-container {
		height: auto;
	}
	.food-icon-value {
		top: 4px;
		font-size: 20px;
		line-height: 24px;
	}
	.overlay-container .food-card-overlay {
		top: 1vh;
		min-height: 400px;
	}
	.food-card-overlay .food-name {
		font-size: 48px;
	}
	.food-card-overlay .food-icon-value {
		font-size: 32px;
		top: 12px;
		left: 0;
	}
	.food-card-overlay .food-icon img {
		width: 42px;
	}
	.food-card-overlay .ingredient-container,
	.food-card-overlay .ingredient-restriction-container {
		max-width: 160px;
	}
	.food-card-overlay .ingredient-icon,
	.food-card-overlay .ingredient-icon img,
	.food-card-overlay .ingredient-restriction,
	.food-card-overlay .ingredient-restriction img {
		min-width: 40px;
		min-height: 40px;
	}
	.food-card-overlay .ingredient-icon .food-icon-frame {
		width: auto;
		height: 40px;
	}
	.food-card-overlay .ingredient-restriction-container,
	.food-card-overlay .ingredient-restriction {
		min-height: 40px;
	}
}

/**************************
*													*
*		Bootstrap Overrides		*
*													*
**************************/

@media (min-width: 1200px) {
	body .container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 80%;
	}
}